#baslık{
    text-align: center;
    color: red;
}
#baglantı{
    list-style-position: inside;
    text-align: center;
}
#ortabaslık{
    text-align: center;
    color: blue;
}
#vizyon{
color: burlywood;
}
#Misyon{
color: burlywood;
}